* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  padding-top: 50px;
  box-sizing: border-box;
  background-color: #ff6b6b; /* Cor de fundo vibrante e atraente */
  background-image: linear-gradient(180deg, #ff0000, #111);
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.registerContainer.active {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  max-width: 600px;
  border-radius: 20px;
  width: 100%;
  padding: 15px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
  margin-bottom: 50px;
}

.registerContainer {
  display: none;
}

h1 {
  text-align: center;
  color: #ff4d4d; 
  margin-bottom: 30px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 40px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 400px;
  margin: 0px auto;
}

form label {
  padding: 10px;
  font-weight: 500;
  font-size: 17px;
}


form input,
textarea {
  padding: 15px;
  width: 400px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
}

form input::placeholder,
form textarea::placeholder {
  color: #ccc;
  font-family: "Montserrat", sans-serif;
}

data::placeholder {
  font-family: "Montserrat", sans-serif;
}

form textarea::placeholder {
  font-size: 14px;
}

textarea {
  height: 70px;
  outline: none;
  resize: none;

}

button {
  width: 150px;
  height: 50px;
  background: linear-gradient(135deg, #ff4d4d, #800000);
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}


#searchBtn {
  width: 100px;
  height: 30px;
  border-radius: 0px;
  background: #ff4d4d;
  opacity: 0.7;
}

#searchBtn:hover {
  opacity: 1;
}


#searchInput {
  padding: 6px;
  font-weight: bold;
}

#searchInput::placeholder {
  font-size: 12px;
}

button:hover {
  opacity: 1;
}

.button-group {
  display: flex;
}

.button-group button {
  flex: 1;
  margin: 0 5px;
}

.eventsContainer {
  display: none;
}

.eventsContainer.active {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #fff;
  width: 620px;
  border-radius: 20px;
  padding: 15px 15px 150px 40px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
}

.eventsContainer ul {
  list-style: none;
  padding: 0;
}

h2 {
  font-size: 30px;
  color: #ff6b6b;
  padding: 10px;
}

h3 {
  font-size: 20px;
}

p {
  font-weight: 600;
}

.backBtn {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 15px;
  right: 20px;
  padding: 10px 20px;
  color: white;
  border-radius: 8px;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  height: 50px;
  gap: 100px;
}

#showEventsBtn {
  margin-left: 5px;
}

.eventsContainer ul {
  list-style: none;
  padding: 0;
}

.eventsContainer li {
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.eventsContainer .deleteBtn {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
}
